* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
  position: absolute;

  font-family: 'Nyutro Sans', 'TT Norms', sans-serif;

  background-color: #385ea3;
}
a:hover {
    text-decoration: none;
  }

  header {
    display: flex;
    height: 15vh;
    background-color: #385ea3;
    justify-content: space-between;
    align-items: center;
    padding: 3.5vh;
    z-index: 999;
    transition: background-color 0.3s ease;
    margin-bottom: -90px;
    
  }


.text-form  {
  text-align: center;
  font-size: 36px;
  color:#ffffff;
}


  main{
      background-color:#385ea3;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 90%;
      padding: 20px;
      margin: 5vh auto;
      box-shadow: 2px 2px 10px;
      border: none;

  }

  .tabela{
      width: 100%;
      user-select: none;
      text-align: left;
      color:#000000;
  }

  .tabela th{
      height: 50px;
      width: 10px;
      padding-left: 4px;

      background-color: #577dc2;

  }

  .tabela td{
      background-color: rgb(255, 255, 255);
      padding: 10px;
  }

  .botao-editar{
    background-color: #577dc2;
    color: white;
    padding: 5px 10px;

  }

  .botao-deletar{
    background-color: #c32424;
    color: white;
    padding: 5px 10px;

  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    margin-top: 8%;
    height: 45vh;
    max-width: 48vh;
  }

  nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-left: 1%;
  }

  nav a {
    margin-left: 10vh;
    color: #ffffff;
    white-space: nowrap;
  }

  nav a:hover {
    border-bottom: 2px solid #ffffff;
  }

  nav a.active {
    border-bottom: 2px solid #ffffff;
  }


  .rodape{
    background-color: #385ea3;
    color: white;
    height: 20%;
    width: 100%;
    font-size: 2vh;
    font-family: 'Nyutro Sans', 'TT Norms', sans-serif;
    margin-top: 180vh;
  }
  .rodape a{
    text-decoration: none;
    color: white;
  }
  .rodape p{
    margin-bottom: 1vh;
  }
  .rodape-div{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: stretch;
    padding: 6vh 1vh 4vh 1vh;
  }
  .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 1vh;
    margin-top: -6vh;
    margin-left: 19vh;
  }
  .rodape span{
    font-size: 2vh;
    color: white;
  }
  .rodape-direitos{
    width: calc(100% - 20px);
    background-color: #577dc2;
    padding: 1vh;
    margin-top: -3vh;
    width: 100%;
    text-align: center;
  }